.margin-tab{
    margin: 5px 30px 0px 30px;
    height: 40px;
}
.align-space{
    display: flex;
    justify-content: space-between;
}

.icon{
    margin-left: 14px;
}

.height{
    height: 30px;
}

.align-text-center{
    display: flex;
    align-items: center;
}

.mat-mdc-form-field {
    width: 82% !important;
    margin-top: 5px;
}