.round-icon {
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    object-fit: cover; 
}

.input{
    width: 100% ;
}

.font-title{
    font-size: 14px;
}

.font-date{
    font-size: 12px;
}