.margin-30 {
  margin: 30px;
}

.margin-20 {
  margin: 20px;
}
.padding-left-10 {
  padding-left: 10px;
}

.padding-0{
  padding: 0px !important;
}

.gap-45{
  gap: 45px;
}

.margin-top-0{
  margin-top: 0px;
}

.marin-top-20{
  margin-top: 20px;
}

.margin-left-10{
  margin-left: 10px;
}

.gap-10{
  gap: 10px;
}

.align-center{
  align-items: center;
}

.margin-top-12{
  margin-top: 12px;
}

.margin-top-bottom-12{
  margin: 12px 0px;
}

.margin-bottom-0{
  margin-bottom: 0px !important;
}

.margin-bottom-30{
  margin-bottom: 30px !important;
}

.margin-top-bottom-20{
  margin: 20px 0px;
}

.margin-top-10{
  margin-top: 10px;
}

.d-flex{
  display: flex;
}

.margin-0-15-0-30{
  margin: 0px 15px 0px 30px;
}

.margin-top-8{
  margin-top: 8px;
}